/build/
/dist/
/nbproject/private/
/sessions/
/data/
/tiles/
/assets/
/renderer/java/osogl/nbproject/private/
/renderer/java/osogl/build/
/renderer/java/osogl/dist/
/renderer/java/osogl/images/