
img {
    opacity: 1;
    transition: opacity 1.0s;
}

img[data-src],img[load-src] {
    opacity: 0;
}

.tile {
    position: absolute;
}

.tile-video {
    position: absolute;
    border: solid 6px red;
}